.character-card {
    border: 2px solid rgba(255, 0, 0, 0.479);
    height: 400px;
}

.starWarsChar {
    background: #ec83535b;
    border: 2px solid rgba(0, 0, 0, 0.432);
    margin-right: 20px;
}
/* 
.character {
    border: 2px solid rgba(255, 0, 0, 0.575);
} */

.details {
    border: 2px solid rgba(255, 0, 0, 0.575);

}

h2 {
    color: rgb(53, 7, 7);
}

p {
    display: inline-block;
    margin-left: 10px;
}